<?xml version="1.0" encoding="utf-8"?>
<!-- 
Note: As an alternative to hand editing this file you can use the 
web admin tool to configure settings for your application. Use
the Website->Asp.Net Configuration option in Visual Studio.
A full list of settings and comments can be found in 
machine.config.comments usually located in 
\Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="Oracle.ManagedDataAccess.Client"
    type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
  </configSections>
  <appSettings>
    <add key="CartPersistDays" value="10"/>
    <add key="MailServer" value="localhost"/>
    <add key="EnableErrorLogEmail" value="false"/>
    <add key="ErrorLogEmail" value="somebody@yahoo.com"/>
    <add key="ProductsPerPage" value="6"/>
    <add key="ProductDescriptionLength" value="60"/>
    <add key="SiteName" value="BalloonShop"/>
  </appSettings>
  <connectionStrings>
    <remove name="OraAspNetConString" />
    <add name="BalloonShopConnection" connectionString="DATA SOURCE=oracle1.centennialcollege.ca:1521/sqld;PASSWORD=codeplay;PERSIST SECURITY INFO=True;USER ID=COMP214F15_005_P_13"
    providerName="Oracle.ManagedDataAccess.Client" />
    <add name="ConnectionString" connectionString="DATA SOURCE=localhost:1521/orcl.cencol.ca;PASSWORD=fall2015;USER ID=COMP229"
    providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <!-- Only administrators are allowed to access CatalogAdmin.aspx -->
  <location path="CatalogAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Only administrators are allowed to access ShoppingCartAdmin.aspx -->
  <location path="ShoppingCartAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <!-- Only administrators are allowed to access OrdersAdmin.aspx -->
  <location path="OrdersAdmin.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <pages theme="BalloonShopDefault" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- 
Set compilation debug="true" to insert debugging 
symbols into the compiled page. Because this 
affects performance, set this value to true only 
during development.
-->
    <compilation debug="true" targetFramework="4.5"/>
    <!--
The <authentication> section enables configuration 
of the security authentication mode used by 
ASP.NET to identify an incoming user. 
-->
    <authentication mode="Forms">
      <forms name="BalloonShopLogin" loginUrl="Login.aspx" timeout="60"/>
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="Oooops.aspx"/>
    <!--
The <customErrors> section enables configuration 
of what to do if/when an unhandled error occurs 
during the execution of a request. Specifically, 
it enables developers to configure html error pages 
to be displayed in place of a error stack trace.
<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
<error statusCode="403" redirect="NoAccess.htm"/>
<error statusCode="404" redirect="FileNotFound.htm"/>
</customErrors>
-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US"/>
    <!--membership defaultProvider="OracleMembershipProvider">
<providers>
<clear/>
<add name="OracleMembershipProvider"
type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnection" applicationName="" enablePasswordRetrieval="false" enablePasswordReset="true"
requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
</providers>
</membership>
<roleManager enabled="true" defaultProvider="OracleRoleProvider">
<providers>
<add connectionStringName="BalloonShopConnection" applicationName=""
name="OracleRoleProvider" type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</providers>
</roleManager-->
    <!--profile enabled="true" defaultProvider="OracleProfileProvider">
<providers>
<clear/>
<add name="OracleProfileProvider"
type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnection" applicationName=""/>
</providers>
</profile>
<siteMap enabled="true" defaultProvider="OracleSiteMapProvider">
<providers>
<clear/>
<add name="OracleSiteMapProvider"
type="Oracle.Web.SiteMap.OracleSiteMapProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnectiong" applicationName="" securityTrimmingEnabled="true"/>
</providers>
</siteMap>
<webParts>
<personalization defaultProvider="OraclePersonalizationProvider">
<providers>
<clear/>
<add name="OraclePersonalizationProvider"
type="Oracle.Web.Personalization.OraclePersonalizationProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnection" applicationName=""/>
</providers>
</personalization>
</webParts>
<healthMonitoring enabled="true">
<providers>
<add name="OracleWebEventProvider"
type="Oracle.Web.Management.OracleWebEventProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnection" buffer="true" bufferMode="OracleNotification"/>
</providers>
</healthMonitoring>
<sessionState mode="Custom" customProvider="OracleSessionStateStore">
<providers>
<clear/>
<add name="OracleSessionStateStore"
type="Oracle.Web.SessionState.OracleSessionStateStore, Oracle.Web, Version=4.121.2.1, Culture=neutral,PublicKeyToken=89b483f429c47342"
connectionStringName="BalloonShopConnection"/>
</providers>
</sessionState>
</system.web>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client"/>
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
</DbProviderFactories>
</system.data>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
</dataSources>
</version>
</oracle.manageddataaccess.client-->
</system.web>

</configuration>